.footer {
	display: flex;
	position: relative;
	flex-direction: column;
	opacity: 0;
	padding-top: 50px;
	justify-content: space-between;
	background-image: url(../../images/SVG/bg-grid.svg);
	background-size: cover;
	background-position: center;
	@include media-down(mobile) {
		display: block;
	}
	.footer-logo {
		@include media-down(mobile) {
			display: flex;
			justify-content: center;
			width: 100%;
		}

		img {
			width: 350px;
			@include media-down(mobile) {
				margin-top: 150px;
				width: 250px;
			}
      @include media-down(small-mobile) {
        margin-top: 50px;
      }
		}
	}
	.footer-heading {
		font-size: 60px;
		line-height: 70px;
		padding: 0px 0px;
		font-family: TussilagoRg-Bold;
		text-align: right;

		@include media-down(mobile) {
			font-size: 20px;
			line-height: 30px;
		}

		.stencil {
			color: #ec1e2d00;
			-webkit-text-stroke-width: 4px;
			-webkit-text-stroke-color: #fff;
			@include media-down(mobile) {
				-webkit-text-stroke-width: 1px;
			}
		}
		.heading {
			color: #fff;
		}
	}
	.socialmedia {
		position: absolute;
		right: 50px;
		bottom: 30px;
		width: 300px;
    @include media-down(mobile) {
      margin: 0 auto;
    }
    @include media-down(small-mobile) {
      position:unset;
      margin: 40px auto 0 auto;
    }
		.img-wrap {
			display: flex;
			justify-content: space-between;
			img {
				max-width: 30px;
				max-height: 30px;
				margin-bottom: 30px;
			}
		}
  
		.copy {
			font-family: Montserrat;
			color: #fff;
			font-size: 12pt;
			font-weight: 100;
			text-align: right;
			@include media-down(mobile) {
				text-align: center;
			}
		}
	}
}
